@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  color: #151515;
}
body {
  height: 100vh;
  background: #FAFAFA;
}

img,
picture,
svg,
video {
  display: block;
}

a{
	text-decoration: none;
	color: #686868;
}

a:hover{
	color: #151515;
}

button{
	border: none;
	padding: 0;
	margin: 0;
	background: #FFF;
	cursor: pointer;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 1200px) {
  body {
    height: 100vh;
    grid-template-rows: auto 1fr;
    display: grid;
	align-items: center;
	justify-content: center;
  }
}